@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .transtion-button {
        @apply p-2 border-2 border-black text-black hover:text-white hover:bg-black transition ease-linear
    }

    .button-page {
        @apply text-black w-[30px] h-[30px] px-2 py-1 border border-black mx-1
    }

    .social {
        @apply text-[#4267B2] hover:text-[#ccc] transition ease-linear duration-300 text-4xl
    }

    .btnSubmit {
        @apply py-2 px-4 bg-black text-white mt-3 hover:bg-white hover:text-black border hover:border-black transition ease-in-out duration-300
    }

    .product-item {
        @apply px-[30px] pt-[30px] pb-20 text-center border h-[450px] border-[#EBEBEB] cursor-pointer flex flex-col
    }

    .button-cart {
        @apply px-2 py-2 bg-black text-white font-bold hover:bg-white border border-black hover:text-black transition ease-in-out duration-300 text-sm
    }

    .btnDetail {
        @apply uppercase font-bold text-xl
    }

    .img-hover {
        @apply relative overflow-hidden transition-transform delay-200 z-[-1]
    }
}

html {
    font-family: 'IBM Plex Mono', monospace;
    font-family: 'Poppins', sans-serif;
}

.navlink {
    position: relative;
    z-index: 0;
}

.navlink::after {
    position: absolute;
    content: "";
    height: 2px;
    background-color: #181818;
    left: 0;
    bottom: -2px;
    width: 0px;
    transition: width 0.5s ease;
    display: block;
}

.navlink:hover::after {
    width: 100%;
}

.transtion-button {
    display: none;
}

.product-item:hover .transtion-button {
    display: block;
}

.button-page.active {
    background-color: #000;
    color: #fff;
}

.button-page:hover {
    background-color: #000;
    color: #fff;
    transition: 0.2s ease-in-out;
}

.footer-shadow {
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
}

#mobileMenu {
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
    z-index: 999;
}

#mobileMenu.active {
    transform: translateX(0);
}

.view-cart-btn {
    position: fixed;
    top: -100px;
    right: 20px;
    font-size: 16px;
    padding: 5px;
    cursor: pointer;
    background-color: #000;
    color: #fff;
    width: 50px;
    transition: top 0.3s;
}

.sidebar {
    height: 100%;
    width: 0;
    max-width: 500px;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: max-width 0.5s, opacity 0.5s, visibility 0.5s;
    color: white;
    padding: 60px 10px 30px 10px;
}

.sidebar.open {
    max-width: 500px;
    opacity: 1;
    visibility: visible;
}


.close-btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidebar h2 {
    text-align: center;
}

.cart-items {
    list-style-type: none;
    padding: 0;
}

.cart-item.enlarged {
    height: 150px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.cart-item img {
    width: 100px;
    height: 100px;
}

.buy-now-button {
    margin: 0 auto;
}

.total-amount {
    text-align: right;
}

.buy-now-button {
    display: block;
    margin: 0 auto;
    color: #000;
    background-color: #fff;
    padding: 10px;
    font-weight: bold;
}

.buy-now-button:hover {
    color: #fff;
    background-color: #000;
    border: 1px solid #fff;
    transition: 0.3s all;
}